<div class = "show-field" >
  <a class = 'fa fa-comment', data-toggle = 'collapse' data-target= ".<%=post.id %>, #new-comment-<%=post.id %>">Comment</a>
  <div class="<%= post.id %> collapse" >
    <% post.comments.each do |comment| %>
      <%= render partial: 'comments/edit', locals: { comment: comment, post: post } %>
    <% end %>
  </div>
  <div id = 'new-comment-<%= post.id %>' class = 'collapse'>
    <%= render partial: 'comments/new', locals: {post: post} %>
  </div>
</div><br>
