<div id = "user-comment-<%= comment.id %>">
  <%= form_with(model: comment, url: post_comment_path(post, comment), local: true, id: 'update-comment', data: {comment_id: comment.id}) do |form| %>
    <p class = 'edit-field'>
      <%= form.label :Comment %><br>
      <%= form.text_area :body, id: "comment_text_#{comment.id}" %><br>
      <%= form.submit class: 'submit-form' %>
      <%= link_to "Cancel",'javascript:;', class: 'cancel-edit', data: { comment_id: comment.id }  %>
    </p>
    <div class = 'show-field' >
      <div class = 'comment-body'>
        <strong><%= current_user.username %> :</strong>
        <%= comment.body %>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Delete', post_comment_path(post, comment), class: 'delete-comment  fa fa-trash-o', data: { comment_id: comment.id } %></li>
            <li> <%= link_to 'Edit', 'javascript:;', class: 'edit-comment  fa fa-pencil', data: { comment_id: comment.id } %></li>
          </ul>
      </div>
    </div><br><br>
  <% end %>
</div>
