<h2>Hello User!!! <%= current_user.username %>
<% requests = Friendship.where(friend_id: current_user.id) %>
<div class="dropdown">
  <button class="fa fa-users fa-1" type="button" data-toggle="dropdown">
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% requests.reverse_each do |request|%>
      <% user = User.find(request.user_id) %>
      <li>
        <%= link_to user.username, profile_path(user.username) %> <br>
        <%= render partial: 'friend', locals: {user: user} %>
      </li><br>
    <% end %>
  </ul>
</div>
</h2>
<%= render partial: 'search' %>
<%= link_to 'Profile', profile_path(current_user.username) %>
<%if !current_user.image_url.nil? %>
  <%= image_tag current_user.image_url %><br>
<%else%>
  <%= image_tag('5691490-profile-pictures.png') %><br>
<%end%>
<h3>Add a Post</h3>
<%= render 'posts/new' %>
<h3>Posts</h3>
<div class="user-posts">
  <% current_user.posts.reverse_each do |post| %>
    <%= render partial: 'posts/edit', locals: {post: post} %>
  <% end %>
</div>
<%= link_to 'logout', logout_path, method: :delete, class: "fa fa-sign-out" %>
