<h1>Hello User!!! <%= current_user.username %></h1>
<%if !current_user.image_url.nil? %>
  <%= image_tag current_user.image_url %><br>
<%else%>
  <%= image_tag('5691490-profile-pictures.png') %><br>
<%end%>
<h2>Add a Post</h2>
<%= render 'posts/new' %>
<h3>Posts</h3>
<div class="user-posts">
  <% current_user.posts.each do |post| %>
    <%= render partial: 'posts/edit', locals: {post: post} %>
  <% end %>
</div>
<%= link_to 'logout', logout_path, method: :delete, class: "fa fa-sign-out" %>
