<h1>Hello User!!! <%= @user.username %></h1><br>
<h2>Add a Post</h2>

<%=form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>

<p>
  <%= form.label :Username %>
  <%= form.text_field :poster %><br>
</p>

<p>
  <%= form.label :Post_Status %><br>
  <%= form.text_area :body %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>

<h3>Posts</h3>
<% @user.posts.each do |post| %>
<p>
  <strong>Username :</strong>
  <%= post.poster %>
</p>

<p>
 <strong>Status :</strong>
 <%= post.body %>
</p>
<%end%>
<%=link_to 'logout', logout_path, method: :delete %>